*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  color: rgb(11, 94, 215);
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 10px auto;
  border: 2px solid;
  padding: 10px;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-weight: bold;
}

.verticalLine {
  height: 20px;
  border: 1px solid;
}

.books-container {
  text-align: center;
  padding: 3rem;
  display: none;
}

#books {
  width: 70%;
  text-align: left;
  border: 2px solid black;
  margin: 0 auto;
  font-weight: bold;
}

tr {
  border: none;
  height: 3rem;
}

td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  margin: 0 15px;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #fff;
}

.form-container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: none;
}

form {
  margin-top: 100px;
}

.form-container h2,
.contact-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 50px;
}

input {
  width: 100%;
  margin: 10px 0;
  height: 2.5rem;
  border: 2px solid;
  padding-left: 12px;
  font-weight: bold;
}

input::placeholder {
  padding-left: 12px;
  color: black;
  font-weight: bold;
}

form button {
  float: right;
  cursor: pointer;
  border-radius: 3px;
  border: 3px solid;
  font-weight: bold;
  padding: 7px 25px;
}

table button {
  cursor: pointer;
  border: 3px solid;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 3px;
}

.contact {
  width: 50%;
  margin: auto;
  display: none;
}

.contact-list {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 75px;
}

.contact-paragraph {
  margin: 50px 0;
  font-weight: bold;
  font-size: 1.5rem;
}

footer {
  position: fixed;
  bottom: 5px;
  left: 2.5%;
  font-weight: bold;
  text-align: center;
  width: 95%;
  margin: 10px auto;
  border: 2px solid;
  padding: 10px;
}

.display {
  display: block;
}
